body {
    background-color: white;
    font-family: 'cabin';
    margin:0;
    padding:0;
}

ul{
    padding-right: 11%;
}

li a{
    font-size: 16px; 
    color: black;
}

ul.bg1 a:hover{
    background-color: white;
    color: black;
    font-size: 17px;
}

a.active{
    border-bottom: 2px solid black;
}

h3, h4 {
    font-weight: 900;
}

.container{    
    margin-left: 10%;
}

#likes {
    float:right;
    padding: 7% 2%;
    border: 2px solid #d4d4d4;
}

* {
    box-sizing: border-box;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-sm"] {
    float: left;
    padding: 20px;
    margin-right: 3%;
  }