body {
  background-color: #000000
}

h2 {
  color: #ebe6e6;  
  font-size: 34px;
}

p {
  color: #ebe6e6;
  font-size: 17px;
  text-align: justify;
}

.navbar{
  margin-bottom: 0;
  margin-right: 2%;
  /*background-color: #3f3f42;*/
  background-color: #000000;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 3px;
  opacity:0.9;
}
.nav-tabs li a {
  color: #777;
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}

/* FUNCIONA APENAS EM CASO DE SCROLLING
.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}
*/

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.aboutme {  
  background-color: #111010;
  border: 0;
  opacity: 0.9;
  width: 100%;  
  padding: 2%;
  margin-top: 10%;
  /*margin-left: 2.7%;*/
  text-align: center;
}

.profissional {
  background-color: #111010;
  border: 0;
  opacity: 0.9;
  width: 100%;  
  padding: 2%;
  margin-top: 10%;
  margin-bottom: 10%;  
  /*margin-left: 2.7%;*/
}

a:link{
  color: rgb(21, 126, 168);
}

a:hover{
  color: rgb(18, 173, 235);
  text-decoration: none;
}