body {
  background-color: #000000
}

h2 {
  color: #ebe6e6;  
  font-size: 34px;
}

p {
  color: #ebe6e6;
  font-size: 17px;
  text-align: justify;
}

.navbar{
  margin-bottom: 0;
  padding-right:1%;
  /*background-color: #3f3f42;*/
  background-color: #000000;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 3px;
  opacity:0.9;
}
.nav-tabs li a {
  color: #777;
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}

.nav li a:hover{
  background-color:#000000;
}

/* FUNCIONA APENAS EM CASO DE SCROLLING
.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}
*/

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.aboutme {  
  background-color: #111010;
  border: 0;
  opacity: 0.9;
  width: 100%;  
  padding: 2%;
  margin-top: 10%;
  /*margin-left: 2.7%;*/
  text-align: center;
}

.profissional {
  background-color: #111010;
  border: 0;
  opacity: 0.9;
  width: 100%;  
  padding: 2%;
  margin-top: 10%;
  margin-bottom: 10%;  
  /*margin-left: 2.7%;*/
}

.lazer {  
  background-color: #111010;
  border: 0;
  opacity: 0.9;
  width: 100%;  
  padding: 2%;
  margin-top: 10%;
  text-align: center;
}

a:link{
  color: rgb(21, 126, 168);
  text-decoration: none;
}

a:hover {
  color: rgb(18, 173, 235);
  text-decoration: none;
}

a:visited {
  color: rgb (18, 173, 235);
  text-decoration: none;
}
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}